.intro-div{
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 0;
}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20rem;
    max-width: 50%;
    background-color: white;
    padding: 3rem 5rem;
}


.intro-image{
    background-image: url("../../asset/images/intro-img.jpg");
    background-size: cover;
    min-width: 40%;
}
