.btn, .btn:link, .btn:visited {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
}


.login-btn{
    margin: 0 2rem;
    color: white;
    background-color: #2980b9;
}

.login-btn:hover{
    background-color: #1E3050;
}


.signup-btn{
    font-weight: 500;
    color: #2980b9;
    border: 3px solid #2980b9;
}
.signup-btn:hover{
    color: white;
    background-color: #2980b9;
    border-color: #1E3050;
}

.enter-credentials-btn{
    width:75%;
    border: 2px solid #2980b9;
    margin:1rem 0;
}