.nav-link{
    color : #2980b9;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    font-weight:500;

}

.nav-link:hover{
    color: #1E3050;
    border-bottom: 3px solid #1E3050;
}